[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kike/Desktop/firefox.desktop]
row=2
col=1

[/home/kike/Desktop/jdk-8u101-linux-x64.tar.gz]
row=3
col=1

[/home/kike/Desktop/Old Firefox Data]
row=7
col=0

[/home/kike/Desktop/xfce4-terminal.desktop]
row=0
col=1

[/home/kike/Desktop/chromium-browser.desktop]
row=1
col=1

[51972903-1a11-4c75-bdc1-1dba16173d88]
row=1
col=0

[75ed16c4-0067-42f1-af9d-7d71e7ada35d]
row=2
col=0

[141CA7521CA72DA4]
row=0
col=0

[002aa571-bcac-4f90-bef3-b6b5941cd0eb]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/kike]
row=6
col=0

